.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border: 2px solid #000; /* Set the border width and color */
  border-radius: 5px; /* Set the border radius for rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
  margin: 10px; /* Add some margin around the card */
  width: 50vw; /* Card takes up 90% of the viewport width */
  max-width: 600px; /* Limit the maximum width of the card */
  padding: 20px;
  box-sizing: border-box;
}
.cardContainer div {
  margin: 0.5em;
}
